{% extends "base.html" %}
{% block content %}

{% for question in page_obj %}
    <div class="card block">
        <div class="card-content">
            <p class="title">{{ question.title }}</p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span><a href="/question/{{question.id}}">Comment</a> </span>
            </p>
        </footer>
    </div>
{% endfor %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin-bottom: 10px;">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Next page</a>
        {% endif %}
        <ul class="pagination-list">
          <p>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        </ul>
    </nav>
{% endblock %}


