{% extends "base.html" %}

{% block content %}
{% for question in questions %}
    <div class="card block">
        <div class="card-content">
            <p class="title" style="margin-bottom: 0;">{{ question.title }} </p>
            <p style="margin-top: 0;">{{ question.num_answers }} comments</p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span><a href="/question/{{question.id}}">Details</a> </span>
            </p>
        </footer>
    </div>
{% endfor %}
{% if not questions_exist %}
    <p class="subtitle">You haven't asked any questions yet.</p>
{% endif %}
{% endblock %}