{% extends "base.html" %}
{% block content %}
    {% if current_user.points > -1 %}
    <form action="/question/new/" method="post">
      {% csrf_token %}
      <div class="field">
        <label class="label">Question</label>
        <div class="control">
          <input id="title" name="title" class="input" type="text" placeholder="Enter your question here." required/>
        </div>
      </div>
      <div class="field">
        <label class="label">Details</label>
        <div class="control">
          <textarea id="body" name="body" class="textarea" placeholder=""></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Submit</button>
        </div>
      </div>
    </form> 
    {% else %}
    <p>Sorry, you need to have at least 0 point to ask a question.</p>
    <p>Currently, you have {{ current_user.points }} points.</p>
    <p>Your points will increase when you answer <a href="/">someone else's question</a> and another user upvotes your answer.</p>
    <p>
      Alternatively, you can share CSQA on Facebook or Twitter to earn a point.
      For more info about it, please take a look at <a href="https://csqa.io/question/250/">this thread.</a>
    </p>
    {% endif %}
{% endblock %}